<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ea89281bc3.js" crossorigin="anonymous"></script>

@model IEnumerable<Course>

<div style="display:flex;flex-direction:column;">
    <table class="table" style="width:500px; height:300px;">
        <thead class="table-dark">
            <tr>
                <th scope="col" style="height:40px;">Id</th>
                <th scope="col" style="height:40px;">Tittle</th>
                <th scope="col" style="height:40px;">Image</th>
                <th scope="col" style="height:40px;">Update</th>
                <th scope="col" style="height:40px;">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.Title</th>
                    <th><img style="width:100px;" src="~/Assets/img/@item.Image"/></th>
                    <th><a asp-controller="course" asp-action="update" asp-route-id="@item.Id"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></th>
                    <th><a asp-controller="course" asp-action="delete" asp-route-id="@item.Id"><i class="fa-sharp fa-regular fa-trash"></i></a></th>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="course" asp-action="create"><button style="width:300px;height:35px;background-color:black;color:white;margin-left:7px;">Add Course</button></a>
</div>


